.container {
  display: flex;
  max-width: 1290px;
  margin: 0 auto;
  margin-top: 40px;
  justify-content: space-between;
  align-items: end;
}
.top_btn {
  display: flex;
  gap: 32px;
}
.contactForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: 23px;
  
}
.form_control input {
  height: 40px;
  padding: 1px 8px;
  font-size: 14px;
}
.form_control label {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
}
