.btn_primary {
  padding: 10px 18px;
  border: none;
  min-width: 220px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid transparent;

  transition: 0.4s background ease-in;
}
.btn_primary:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: 0.3s background ease-in;
}
